<footer class="footer bg-dark  py-3 mt-auto">
    <hr>
    <div class="container">
        <span class="text-light">&copy;Atom Robotics - Janavarshan L P, Bhuvana Prabha B</span>
        
    </div>
</footer>